[Unit]
Description=Google Home to Homie MQTT bridge.
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/
Environment=RUST_BACKTRACE=1
Environment=RUST_LIB_BACKTRACE=1
Environment=HOMIEFLOW_CONFIG=/etc/homieflow.toml
ExecStart=/usr/bin/homieflow
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
