<html>

<head>
    <title>OAuth login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
    <h1>Login</h1>
    {% match google_login_client_id %}
    {% when Some with (login_client_id) %}
    <div id="g_id_onload" data-client_id="{{ login_client_id }}"
        data-login_uri="{{ base_url }}oauth/google_login?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&state={{ state }}&response_type=code"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
        data-shape="rectangular" data-logo_alignment="left">
    </div>
    {% when None %}
    {% endmatch %}
</body>

</html>